dialog.title-screen[open] {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

dialog.title-screen .marvel-logo,
dialog.title-screen .title-screen-logo {
  width: 100%;
  max-width: 450px;
  height: auto;
}

dialog.title-screen .marvel-logo {
  border: none;
  box-shadow: none;
  max-width: 80px;
  margin: 0 auto 0.5rem;
  fill: #f0141e; /* Marvel red… */
}

dialog.title-screen .marvel-logo-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

dialog.title-screen .marvel-logo-bg {
  display: block;
  position: absolute;
  background: #fff; /* Marvel red… */
  width: 100%;
  max-width: 80px;
  height: 30px;
  top: 0;
  z-index: -1;
}
