.footer {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: auto;
  flex: 1 1 0;
}

.footer-content {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
